.career--area{
    width:100%;
    height:400px;
    background:url('./fundo3.jpg');
    background-size:100% 100%;
    background-attachment: fixed;
    position:relative;

    display:flex;
    justify-content: center;
    align-items: center;
}
.career--area::after{
    content:" ";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:black;
    opacity:0.75;
}
.career--area > div{
    max-width:900px;
    margin:0 auto;
    position:relative;
    top:10px;
    z-index:1;
}
.career--title{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 40px;
    display: block;
    max-width: 650px;
    margin:0 auto;
}
.career--paragraph{
    max-width: 730px;
    margin: 18px auto;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
}
.career--link{
    display: block;
    margin: 30px auto;
    width: 230px;
    background: #b7eef1;
    border-radius: 50px;
    padding: 15px 0px;
    text-align: center;
    color: #01292e;
    font-weight: 600;
    box-shadow: 0px 0px 3px 1px #b7eef1;
    font-size: 1.1rem;
}
.career--link:hover{
    opacity:0.8;
    transition:0.3s;
}