.about--area{
    width:100%;
    height:480px;
    background:url('./fundo2.png');
    background-size:100% 100%;
    box-shadow:0px 0px 4px 2px #f2f2f2;
}
.about--area > div{
    max-width:1100px;
    height: 100%;
    margin: 0 auto;
    padding:0px 20px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.about--video{
    width:480px;
    height:320px;
    background:white;
    box-shadow: 0px 0px 3px 1px #ddd;

    display:flex;
    justify-content: center;
    align-items: center;
}
.about--video > iframe{
    width:96.5%;
    height:95%;
}
.about--text{
    width:500px;
}
.about--text--title{
    font-family:'Ubuntu', sans-serif;
    font-size:2.3rem;
    color:#021618;
    letter-spacing:-2px;
}
.about--text--paragraph{
    font-size:1.2rem;
    font-weight:300;
    color:#386b70;
    margin-top:15px;
}
.about--text--link{
    display: block;
    margin-top: 30px;
    width: 200px;
    background: #f6e57d;
    border-radius: 50px;
    padding: 15px 0px;
    text-align: center;
    color: #01292e;
    font-weight: 600;
    box-shadow: 0px 0px 3px 1px #f6e57d;
}
.about--text--link:hover{
    opacity:0.7;
    transition:0.3s;
}